@model Index
@using HotelsGarden.Models.View

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.DestinationName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.DestinationName, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.LengthOfStay, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.LengthOfStay, new { @class = "form-control", type = "number", min = 0, step = 1 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MinGuestRating, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MinGuestRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MaxGuestRating, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MaxGuestRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MinStarRating, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MinStarRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MaxStarRating, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MaxStarRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MinTotalRate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MinTotalRate, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MaxTotalRate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MaxTotalRate, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.25 })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MinTripStartDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MinTripStartDate, new { @class = "form-control", type = "date", min = DateTime.Now.ToString(Constants.JavascriptDateTimeFormat) })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Filters.MaxTripStartDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Filters.MaxTripStartDate, new { @class = "form-control", type = "date", min = DateTime.Now.ToString(Constants.JavascriptDateTimeFormat) })
    </div>

    <button class="btn btn-primary" type="submit">
        Search
    </button>
    <button class="btn btn-warning" type="reset">
        Reset
    </button>
    <blockquote class="text-muted pull-right">* Keep the default value to exclude the filter</blockquote>
}